* {
    background-color:#000000;
    margin: 0;
    padding: 0;
}

/* nav-bar */
.nav-bar {
    background-color: #000000;

}

.nav-links {
    display: flex;
    margin: 0px;
}

.nav-lists {
    padding: 30px;
    list-style: none;
}

.nav-lists a {
    text-decoration: none;
    color: blanchedalmond;
}

/* welcome-section */

.section2 {

    margin: auto;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1907&q=80");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.heading {

    padding: 10px;

    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* transform: rotate(180deg); */

}

.side {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 190px;
}

/* third-section */
.third-section {
    height: 100vh;
    background-color: #000000;
}

.text-center {
    text-align: center;
    color: rgb(255, 255, 255);
}

.about-section {
    padding: 100px;
    color: rgb(255, 255, 255);
}

.intro-part {
    margin: auto;
    color: rgb(255, 255, 255);
}

/* third-section */
.fourth-section {
    height: 100vh;
    background-color: #000000;
}

.tech {
    height: 50vh;
    background-color: rgb(199, 184, 184);
}

.tech img {
    width: 120px;
    padding: 20px;
}

.tech-heading {
    padding-bottom: 50px;
}

/* fifth-section */
.fifth-section {
    background-color: #000000;
    height: 40vh;
}

.resume-text {
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
}

/* footer-section */
.footer-section {
    height: 25vh;
    background-color: #000000;
}
.footer-section i{
    color: rgb(255, 255, 255);
    padding: 5px;

}
